<h1>New Mounting</h1>
<div>
  <%= form_for @mounting do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <%= f.submit "Save" %>
  <% end %>
</div>
